

/* VARIABLES PARA EL TAMAÑO DEL NAV */
:root{
    --width-show:300px;
    --width-collapsed:50px;
    --width-responsive:0px;
    --padding:20px;
    --width-header-nav:64px;
    /* --width-collapsed:50px; */
}


/* ESTILOS DE LA BARRA DE NAVEGACION */
.content-menu-nav{
    position: fixed;
    left: 0;
    top: 0;
    width: var(--width-collapsed);
    height: 100%;
    background-color: #000;
    margin-right: var(--padding);
    display: inline-block;
    overflow: hidden;
    transition: all 0.5s;
    z-index: 99;

}



.show-nav{
    width: var(--width-show);
    transition: all 0.5s;
/* 
    display: inline-block; */
}

.menu-nav-content-icon{
    font-size: 2rem;
    text-align: right;
    background-color: black;
    color: #fff;
    /* border-bottom:2px solid #fff ;     */
    box-shadow: 2px 2px 5px 2px black;
}

.icon-colap{
    cursor: pointer;
}

/* ESTILOS DEL AVATAR */
.container-menu-target-avatar{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    transition: all 0.5s;
    color: #fff;
}


.container-menu-avatar-img-cont{
 text-align: center;
 width: 200px;
 overflow: hidden;
 border-radius: 100px;

 

}

.container-menu-img-avatar{
    width: 150px;
    border-radius: 100px;
}

.disguise-avatar{
    display: none;
    transition: all 1s;
}

/* MENU DE OPCIONES(RUTAS) */
.container-menu-options{
    /* background-color: azure; */
    height:  700px;
    width: var(--width-show);
    padding: 40px 0px;
    overflow: scroll;
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; /* Firefox 64 */
}

.container-menu-options::-webkit-scrollbar{
    width: 2px;
    display: none;
 }
 

.menu-nav-target-options{
    color: #fff;
    padding-left: 15px;
    display: flex;
    gap: 20px;
    height: 70px;
    align-items: center;
    font-size: 17px;
    cursor: pointer;
    transition: all 0.5s;
    text-decoration: none; 
   
}


.nav_logo-icon{
    font-size: 25px;
}

#menu-nav-target-options-selecte{  
      border-right: 8px solid #fff;
      color: rgb(131, 230, 255);
 
}

#menu-nav-target-options-selecte > .nav_logo-icon{
    color: rgb(131, 230, 255);
}

/* .menu-nav-target-options:hover{
    border-right: 8px solid #fff;
} */


.nav_logo-name{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 3px;
}


.showComplementarLista{
  display: none;
  transition: all 1s;
}


/* PIE DE MENU DE NAVEGACION */
.menu-bottom-settings{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #000;
    color: #fff;
    font-size: 2rem;
    padding: 5px 10px;
    border-top: 2px solid #fff;
}

.menu-icon-exit{
    cursor: pointer;
}

/* ESTILOS PARA EL MENU DE CONTENIDO */
.content-menu-container{
    background-color: aqua;
    width: calc(100% - var(--width-show));
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    transition: all 0.5s;
}

.collapsed-menu{
    width: calc(100% - var(--width-collapsed));
    transition: all 0.5s;
}

.menu-nav-sticky{
    position: relative;
    overflow: hidden;
    background-color: #F7F6FB;
    height: var(--width-header-nav);
    font-size: 2rem;
    line-height: 200%;
    padding-left: 10px;
 
    z-index: 99;
    display: flex;

}

.menu-nav-container-logo{
    position: absolute;
    right: 0;
    margin-right: 30px;
}

.menu-nav-logo{
    width: 150px;
}

.container-options-show{
    background-color: #fff;
    padding: 10PX;
    height: calc(100vh - var(--width-header-nav));
    overflow-y: scroll;
}

@media screen and ( max-width:700px) {
    .content-menu-nav{
        width: var(--width-responsive);

    
    }

    .show-nav{
        width: var(--width-collapsed);
    }



    .container-menu-target-avatar{
        display: none;
    }

    .content-menu-container{
        width: calc(100% - var(--width-collapsed));
    }

    .collapsed-menu{
        width: calc(100% - var(--width-responsive));
    }
    
}